div{
width: 621;
height: 230;
top: 263px;
left: 165px;
padding-top: 10px;
padding-right: 16px;
padding-left: 16px;


}
p{
font-family: Rubik;
font-weight: 400;
font-size: 64px;
line-height: 60px;
letter-spacing: 0%;
vertical-align: middle;


}