div{
    width: 1920;
height: 94;
justify-content: space-between;
padding-top: 12px;
padding-right: 128px;
padding-bottom: 12px;
padding-left: 128px;
background: linear-gradient(90deg, #6C5CE7 20.29%, rgba(108, 92, 231, 0.75) 54.56%, #A29BFE 100%);

}