.header{

justify-content: space-between;
padding-top: 12px;
padding-right: 128px;
padding-bottom: 12px;
padding-left: 128px;
background: linear-gradient(90deg, #6C5CE7 20.29%, rgba(108, 92, 231, 0.75) 54.56%, #A29BFE 100%);
}

.container {

justify-content: space-between;
padding-right: 48px;
padding-left: 48px;
display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {

gap: 24px;
  display: flex;
  align-items: center;
}